## Análise pós-clusterização
***

In [156]:
import pandas as pd
import numpy as np

In [249]:
path = '/Users/felipebarreto/Desktop/TCC/Bases geradas/'
df1 = pd.read_csv('/Users/felipebarreto/Desktop/dados_acidentes_tratados_completo.csv', sep = ',')   ## dados originais tratados
df2 = pd.read_csv(path + 'centroides_padronizados.csv', sep = ';')   ## centróides de cada cluster     //
df3 = pd.read_csv(path + 'variaveis_quanti_agg.csv', sep = ';')      ## igual ao df4, sem padronização // 
df4 = pd.read_csv(path + 'variaveis_quanti_pad_agg.csv', sep = ';')  ## igual ao df3, com padronização // 
df5 = pd.read_csv(path + 'medias_var_cluster.csv', sep = ';', decimal= '.')        ## médias de cada cluster         // 
df6 = pd.read_csv(path + 'clusters_7.csv', sep = ';') # var quantitativas completas, nem todas foram utilizadas para a clusterização

In [245]:
df1.groupby('tracado_via_tipo_1')['tracado_via_tipo_1'].count().keys()

Index([False, True], dtype='object', name='tracado_via_tipo_1')

In [236]:
pd.DataFrame(df1.tracado_via_tipo_1.value_counts(normalize=True)).reset_index()

   index  tracado_via_tipo_1
0   True            0.707132
1  False            0.292868

In [254]:
df6

,municipio,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,freq,share_tracado_via_tipo_1,share_tracado_via_tipo_2,share_is_night,share_is_weekend,share_is_single_lane,cluster
0,curitiba,53273,581,10382,2872,36629,2808,13254,46614,23714,0.834781,0.155604,0.375221,0.438306,0.106477,1
1,sao jose,44027,191,8828,1928,31326,1752,10756,40653,20102,0.784648,0.205552,0.369018,0.414785,0.043379,1
2,guarulhos,40350,430,8282,1040,27409,3188,9322,36372,18109,0.942239,0.052018,0.410293,0.422055,0.055221,1
3,betim,39527,329,6840,1718,29551,1085,8558,35159,17601,0.784103,0.208625,0.361911,0.489234,0.048804,1
4,duque de caxias,37859,407,6388,1273,28066,1723,7661,32465,17531,0.842393,0.153785,0.380811,0.430152,0.195710,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2258,viamao,2,0,0,0,2,0,0,2,1,1.000000,0.000000,0.000000,0.000000,0.000000,3
2259,vila pavao,1,0,0,0,1,0,0,1,1,1.000000,0.000000,0.000000,0.000000,1.000000,2
2260,virginopolis,2,0,1,0,1,0,1,1,1,0.000000,1.000000,0.000000,1.000000,1.000000,4
2261,vitorino freire,2,0,0,0,2,0,0,2,1,1.000000,0.000000,0.000000,0.000000,1.000000,2
2262,xangri-la,1,0,0,0,1,0,0,1,1,0.000000,1.000000,1.000000,0.000000,1.000000,4

In [288]:
def _status_qtd(var):
    a = pd.merge(df1, df6[['municipio','cluster']], how='left')\
          .groupby(['cluster',var])[['id']]\
          .count()\
          .reset_index()\
          .rename(columns={var:'status','id':var})\
          .set_index(['cluster','status'])
    return a

In [293]:
_status_qtd('tracado_via_tipo_1')\
    .join(_status_qtd('is_weekend'))\
    .join(_status_qtd('is_night'))\
    .join(_status_qtd('is_single_lane'))

                tracado_via_tipo_1  is_weekend  is_night  is_single_lane
cluster status
1       False                62988      175841    199847          247456
        True                249718      136865    112859           65250
2       False                80012      175564    200865           20302
        True                263650      168098    142797          323360
3       False                65031      114960    131837          185778
        True                153379      103450     86573           32632
4       False                86222       78425     95846            7071
        True                 66154       73951     56530          145305
5       False               214713      379447    440833          368479
        True                496002      331268    269882          342236

In [285]:
pd.join(_status_qtd('is_night'),_status_qtd('is_weekend'))

AttributeError: module 'pandas' has no attribute 'join'

In [283]:
_status_qtd('is_night')

   cluster  status  is_night
0        1   False    199847
1        1    True    112859
2        2   False    200865
3        2    True    142797
4        3   False    131837
5        3    True     86573
6        4   False     95846
7        4    True     56530
8        5   False    440833
9        5    True    269882

In [282]:
pd.merge(
    _status_qtd('tracado_via_tipo_1'),_status_qtd('is_weekend'),_status_qtd('is_night')
)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [280]:
_status_qtd('tracado_via_tipo_1')\
    .pd.merge(_status_qtd('is_weekend'), how=['cluster','status'])

AttributeError: 'DataFrame' object has no attribute 'pd'

In [273]:
pd.merge(df1, df6[['municipio','cluster']], how='left')\
    .groupby(['cluster','tracado_via_tipo_1'])[['id']]\
    .count()\
    .reset_index()\
    .rename(columns={'tracado_via_tipo_1':'status','id':'tracado_via_tipo_1'})

   cluster  status  tracado_via_tipo_1
0        1   False               62988
1        1    True              249718
2        2   False               80012
3        2    True              263650
4        3   False               65031
5        3    True              153379
6        4   False               86222
7        4    True               66154
8        5   False              214713
9        5    True              496002

In [252]:
df6.groupby(['cluster','share_tracado_via_tipo_1'])[['cluster']].count()

                                  cluster
cluster share_tracado_via_tipo_1
1       0.632138                        1
        0.669109                        1
        0.680138                        1
        0.694181                        1
        0.706108                        1
...                                   ...
5       0.960695                        1
        0.963798                        1
        0.967316                        1
        0.971684                        1
        0.972609                        1

[1602 rows x 1 columns]

In [158]:
display(
    df2.style.background_gradient(cmap='Greens').set_precision(2),
    df5.style.background_gradient(cmap='Reds').set_precision(2)
    )

### Análise

In [166]:
df = df3.drop(['pessoas','ignorados','feridos','veiculos'], axis=1)[[
    'municipio','cluster','freq','mortos','feridos_graves','feridos_leves','ilesos','share_tracado_via_tipo_1',
    'share_tracado_via_tipo_2','share_is_night','share_is_weekend','share_is_single_lane'
]].drop_duplicates(subset = ['municipio'])


## Separação dos clusters (c1,c2,c3,c4,c5,c6,c7)
n = len(df.cluster.drop_duplicates())
for i in range(1,n + 1):
    globals()['c' + str(i)] = df[df.cluster == i].drop(['cluster'], axis=1)

df.head(5).style.background_gradient(cmap='Blues').set_precision(2)

In [204]:
c1.mortos.sum()

7928

In [205]:
c1.mortos.mean()

330.3333333333333

In [160]:
def _loc(df, cluster, col):
    return(round(df[df.cluster == 'Cluster '+str(cluster)][col].iloc[0],2))

In [171]:
round(df.mortos.mean(),2)

39.59

In [193]:
globals()['mortos_c' + str(1)] = 2

In [219]:
## Tamanho dos clusters // Quantidade de municípios
print(
    f""">> DADOS GERAIS - Acidentes de 2007 a 2021 (16 anos)<<
    - Total de municípios analisados: {len(df)}
    - Mortos = {df.mortos.sum()} | Média = {round(df.mortos.mean(),2)}
    - Feridos graves = {df.feridos_graves.sum()} | Média = {round(df.feridos_graves.mean(),2)}
    - Feridos leves = {df.feridos_leves.sum()} | Média = {round(df.feridos_leves.mean(),2)}
    - Ilesos = {df.ilesos.sum()} | Média = {round(df.ilesos.mean(),2)}
    """
)

for i in range(1,n+1):

    print(f"""Cluster {i}:
        - {len(globals()['c' + str(i)])} municípios --> {round(100*df[df.cluster == i].shape[0] / df.shape[0],2)}% do total
        - Mortos = {globals()['c' + str(i)].mortos.sum()},  {round(100*globals()['c' + str(i)].mortos.sum() / df.mortos.sum(),2)}% do total | Média = {_loc(df5, i, col='mortos')}, {round(100*_loc(df5, i, col='mortos') / df.mortos.mean(),2)}% da média geral
        - Feridos graves = {globals()['c' + str(i)].feridos_graves.sum()},  {round(100*globals()['c' + str(i)].feridos_graves.sum() / df.feridos_graves.sum(),2)}% do total | Média = {_loc(df5, i, col='feridos_graves')}, {round(100*_loc(df5, i, col='feridos_graves') / df.feridos_graves.mean(),2)}% da média geral
        - Feridos Leves = {globals()['c' + str(i)].feridos_leves.sum()},  {round(100*globals()['c' + str(i)].feridos_leves.sum() / df.feridos_leves.sum(),2)}% do total | Média = {_loc(df5, i, col='feridos_leves')}, {round(100*_loc(df5, i, col='feridos_leves') / df.feridos_leves.mean(),2)}% da média geral
        - Ilesos = {globals()['c' + str(i)].ilesos.sum()},  {round(100*globals()['c' + str(i)].ilesos.sum() / df.ilesos.sum(),2)}% do total | Média = {_loc(df5, i, col='ilesos')}, {round(100*_loc(df5, i, col='ilesos') / df.ilesos.mean(),2)}% da média geral
        - Média do share de traçado via tipo 1 = {_loc(df5, i, col='share_tracado_via_tipo_1')}
        - Média do share de é noite = {_loc(df5, i, col='share_is_night')}
        - Média do share de é final de semana = {_loc(df5, i, col='share_is_weekend')}
        - Média do share de é pista simples = {_loc(df5, i, col='share_is_single_lane')}
    """)

>> DADOS GERAIS - Acidentes de 2007 a 2021 (16 anos)<<
    - Total de municípios analisados: 2263
    - Mortos = 89587 | Média = 39.59
    - Feridos graves = 297414 | Média = 131.42
    - Feridos leves = 837677 | Média = 370.16
    - Ilesos = 2395201 | Média = 1058.42

Cluster 1:
        - 24 municípios --> 1.06% do total
        - Mortos = 7928,  8.85% do total | Média = 330.33, 834.43% da média geral
        - Feridos graves = 42051,  14.14% do total | Média = 1752.12, 1333.17% da média geral
        - Feridos Leves = 130439,  15.57% do total | Média = 5434.96, 1468.26% da média geral
        - Ilesos = 482400,  20.14% do total | Média = 20100.0, 1899.06% da média geral
        - Média do share de traçado via tipo 1 = 0.8
        - Média do share de é noite = 0.36
        - Média do share de é final de semana = 0.44
        - Média do share de é pista simples = 0.24

Cluster 2:
        - 1264 municípios --> 55.86% do total
        - Mortos = 34174,  38.15% do total | Média = 27.04, 68.3% da média geral
        - Feridos graves = 84442,  28.39% do total | Média = 66.81, 50.84% da média geral
        - Feridos Leves = 195019,  23.28% do total | Média = 154.29, 41.68% da média geral
        - Ilesos = 445071,  18.58% do total | Média = 352.11, 33.27% da média geral
        - Média do share de traçado via tipo 1 = 0.82
        - Média do share de é noite = 0.43
        - Média do share de é final de semana = 0.49
        - Média do share de é pista simples = 0.96

Cluster 3:
        - 276 municípios --> 12.2% do total
        - Mortos = 8438,  9.42% do total | Média = 30.57, 77.22% da média geral
        - Feridos graves = 28087,  9.44% do total | Média = 101.76, 77.43% da média geral
        - Feridos Leves = 97032,  11.58% do total | Média = 351.57, 94.98% da média geral
        - Ilesos = 282470,  11.79% do total | Média = 1023.44, 96.7% da média geral
        - Média do share de traçado via tipo 1 = 0.73
        - Média do share de é noite = 0.38
        - Média do share de é final de semana = 0.44
        - Média do share de é pista simples = 0.15

Cluster 4:
        - 504 municípios --> 22.27% do total
        - Mortos = 10906,  12.17% do total | Média = 21.64, 54.66% da média geral
        - Feridos graves = 32018,  10.77% do total | Média = 63.53, 48.34% da média geral
        - Feridos Leves = 85709,  10.23% do total | Média = 170.06, 45.94% da média geral
        - Ilesos = 180660,  7.54% do total | Média = 358.45, 33.87% da média geral
        - Média do share de traçado via tipo 1 = 0.36
        - Média do share de é noite = 0.39
        - Média do share de é final de semana = 0.49
        - Média do share de é pista simples = 0.95

Cluster 5:
        - 195 municípios --> 8.62% do total
        - Mortos = 28141,  31.41% do total | Média = 144.31, 364.53% da média geral
        - Feridos graves = 110816,  37.26% do total | Média = 568.29, 432.41% da média geral
        - Feridos Leves = 329478,  39.33% do total | Média = 1689.63, 456.46% da média geral
        - Ilesos = 1004600,  41.94% do total | Média = 5151.79, 486.74% da média geral
        - Média do share de traçado via tipo 1 = 0.7
        - Média do share de é noite = 0.38
        - Média do share de é final de semana = 0.47
        - Média do share de é pista simples = 0.57

In [12]:
#df5 = df5.set_index('cluster')

df5.style.background_gradient(cmap='Greens')\
    #.background_gradient(cmap='coolwarm', axis=None, vmin=0, vmax=1)
    #.highlight_null(null_color='#f1f1f1')  # Color NaNs grey
    .set_precision(2)

#### Observações:

- Total de Municípios analisados: 2263
- Municípios por região:
    - N ---> 
    - NE --> 
    - CO --> 
    - S ---> 
    - SE -->  
- Municípios por UF:
    - sdc

## Cluster 1

In [105]:
df5[df5.cluster == 'Cluster 5'].feridos_leves.iloc[0]

1689.63076923077

In [101]:
c1.shape

(493, 10)

In [ ]:
c1.groupby('uf')[['freq']].sum().sort_values(by = ['freq'], ascending = False)

     freq
uf
mg  33232
sc  28153
rs  21568
ba  13154
pr  12833
es   6291
al   4140
rj   1772
go   1314
sp   1253
pe    770
ma    712
pi    587
ce    482
se    323
rn    297
pa    239
pb    179
ap    147
ro    103
to     67
ac     33
ms     15
am      3
mt      2

In [ ]:
c1.head(50)

,uf,municipio,freq,mortos,feridos_graves,feridos_leves,share_tracado_via_tipo_1,share_tracado_via_tipo_2,share_is_night,share_is_weekend,share_is_single_lane
312,sc,aguas mornas,1520,77,331,906,0.294737,0.681579,0.325658,0.506579,0.996053
331,mg,bela vista de minas,1408,62,366,930,0.182528,0.799006,0.287642,0.477273,0.990767
346,sc,sao cristovao do sul,1372,71,209,682,0.420554,0.561953,0.389942,0.471574,0.990525
350,mg,campos altos,1357,83,219,796,0.275608,0.708180,0.280766,0.464996,0.973471
354,sc,rancho queimado,1335,66,260,742,0.223221,0.759551,0.284644,0.528090,0.977528
366,es,rio novo do sul,1255,81,243,579,0.431076,0.566534,0.333068,0.451793,0.985657
372,sc,xaxim,1224,63,200,681,0.403595,0.582516,0.406046,0.489379,0.992647
377,sc,alfredo wagner,1201,70,251,816,0.214821,0.771857,0.383014,0.512073,0.993339
379,pr,pato branco,1196,32,190,666,0.529264,0.448161,0.401338,0.433110,0.921405
380,sc,ponte alta,1194,60,193,586,0.440536,0.536013,0.403685,0.474874,0.981575
386,rs,cacapava do sul,1174,51,158,459,0.462521,0.500000,0.410562,0.474446,0.974446
391,rj,parati,1171,57,219,597,0.523484,0.476516,0.403074,0.525192,0.963279
400,rs,cruz alta,1150,52,144,508,0.560870,0.429565,0.402609,0.480870,0.964348
410,sc,santa cecilia,1124,70,220,564,0.547153,0.447509,0.420819,0.484875,0.984875
417,mg,nova uniao,1094,66,283,529,0.420475,0.570384,0.301645,0.514625,0.970750
419,mg,corrego danta,1092,76,235,597,0.248168,0.745421,0.302198,0.454212,0.998168
420,es,iconha,1090,42,181,499,0.580734,0.419266,0.306422,0.447706,0.912844
421,mg,ibia,1082,74,192,644,0.594270,0.386322,0.374307,0.447320,0.990758
434,rs,dois irmaos,1041,25,167,575,0.439962,0.553314,0.379443,0.566763,0.776177
444,sc,joacaba,1015,46,154,561,0.412808,0.556650,0.344828,0.434483,0.975369
445,es,anchieta,1008,93,186,497,0.481151,0.511905,0.353175,0.456349,0.957341
446,sc,anchieta,1008,93,186,497,0.481151,0.511905,0.353175,0.456349,0.957341
451,mg,pouso alto,1004,33,116,580,0.321713,0.658367,0.327689,0.503984,0.999004
464,rs,ijui,975,36,136,521,0.553846,0.437949,0.374359,0.490256,0.991795
478,ba,arataca,934,71,123,408,0.157388,0.838330,0.251606,0.448608,0.998929
482,sc,irani,930,40,178,553,0.392473,0.601075,0.337634,0.487097,0.988172
483,sc,vargem bonita,929,64,188,515,0.325081,0.657696,0.343380,0.473628,0.982777
490,mg,sao domingos do prata,915,81,221,482,0.471038,0.511475,0.382514,0.479781,0.979235
493,rs,bage,904,19,99,337,0.563053,0.430310,0.403761,0.440265,0.997788
506,ba,catu,878,51,178,487,0.578588,0.411162,0.333713,0.495444,0.976082
508,sc,curitibanos,860,62,166,564,0.394186,0.582558,0.391860,0.452326,0.989535
511,mg,pocos de caldas,855,38,177,522,0.497076,0.484211,0.378947,0.500585,0.952047
512,pr,nova laranjeiras,854,86,137,404,0.430913,0.550351,0.343091,0.488290,0.974239
517,rs,marques de souza,844,36,121,430,0.533175,0.445498,0.389810,0.478673,0.951422
523,go,mineiros,832,81,168,466,0.581731,0.407452,0.381010,0.495192,0.965144
526,mg,rio casca,830,34,172,411,0.446988,0.540964,0.367470,0.467470,0.990361
533,rs,pouso novo,816,52,102,370,0.287990,0.699755,0.389706,0.447304,0.904412
534,rs,panambi,815,57,124,476,0.590184,0.396319,0.412270,0.507975,0.974233
535,sc,concordia,814,42,188,442,0.366093,0.630221,0.331695,0.501229,0.993857
538,ba,itapebi,806,90,118,405,0.187345,0.799007,0.254342,0.451613,0.985112
543,rs,lagoa vermelha,799,37,132,447,0.460576,0.529412,0.451815,0.490613,0.987484
551,pr,cornelio procopio,793,32,150,505,0.466583,0.518285,0.403531,0.491803,0.795712
553,mg,alem paraiba,790,66,150,412,0.473418,0.501266,0.451899,0.472152,0.997468
555,ba,sao jose da vitoria,788,65,140,393,0.210660,0.786802,0.267766,0.428934,0.997462
567,es,itapemirim,775,38,114,310,0.433548,0.561290,0.387097,0.424516,0.990968
569,al,satuba,774,43,247,492,0.543928,0.445736,0.351421,0.465116,0.980620
570,mg,inhapim,773,81,241,481,0.486417,0.503234,0.415265,0.540750,0.954722
572,sc,bocaina do sul,767,53,163,472,0.401565,0.590613,0.342894,0.514993,0.994785
573,sc,corupa,764,35,207,531,0.407068,0.565445,0.407068,0.514398,0.976440
574,ba,ibirapitanga,763,119,190,438,0.271298,0.728702,0.296199,0.437746,0.998689