## Análise pós-clusterização
***

In [31]:
import pandas as pd
import numpy as np

In [32]:
path = '/Users/felipebarreto/Desktop/TCC/Bases geradas/'
df1 = pd.read_csv('/Users/felipebarreto/Desktop/dados_acidentes_tratados_completo.csv', sep = ',')   ## dados originais tratados
df2 = pd.read_csv(path + 'centroides_padronizados.csv', sep = ';')   ## centróides de cada cluster     //
df3 = pd.read_csv(path + 'variaveis_quanti_agg.csv', sep = ';')      ## igual ao df4, sem padronização // 
df4 = pd.read_csv(path + 'variaveis_quanti_pad_agg.csv', sep = ';')  ## igual ao df3, com padronização // 
df5 = pd.read_csv(path + 'medias_var_cluster.csv', sep = ';')        ## médias de cada cluster         // 
#df6 = pd.read_csv(path + 'clusters_7.csv', sep = ';') # var quantitativas completas, nem todas foram utilizadas para a clusterização

In [38]:
df1.head(2)

,id,data,turno,dia_semana,uf,municipio,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,...,ignorados,feridos,veiculos,is_night,is_weekend,is_single_lane,tracado_via_tipo_1,tracado_via_tipo_2,tracado_via_tipo_3,tracado_via_NA
0,10.0,2007-06-11,tarde,segunda,mg,oliveira,falta de atenção,colisão frontal,(null),pleno dia,...,0,4,6,False,False,False,True,False,False,0
1,1032898.0,2007-08-13,tarde,segunda,mg,itabirito,outras,saída de pista,com vítimas feridas,pleno dia,...,0,1,1,False,False,True,True,False,False,0

In [39]:
df2.head(2)

,Variavel,Cluster 1,Cluster 2,Cluster 3,Cluster 4,Cluster 5,Cluster 6,Cluster 7
0,mortos,"-0,353503565998595","5,88021293200702","-0,254458577770731","-0,689762834515879","-0,125880113981905","2,52825117114308","1,36246339202999"
1,feridos_leves,"-0,29026764745123","7,53923790769286","-0,302526298165628","-0,476433126054927","0,00227739506567255","2,89787472364816","0,964399013977056"

In [40]:
df3.head(2)

,municipio,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,freq,share_tracado_via_tipo_1,share_tracado_via_tipo_2,share_is_night,share_is_weekend,share_is_single_lane,cluster,uf
0,curitiba,53273,581,10382,2872,36629,2808,13254,46614,23714,0.834781,0.155604,0.375221,0.438306,0.106477,2,pr
1,sao jose,44027,191,8828,1928,31326,1752,10756,40653,20102,0.784648,0.205552,0.369018,0.414785,0.043379,2,sc

In [41]:
df4.head(2)

,municipio,mortos,feridos_leves,feridos_graves,ilesos,freq,share_tracado_via_tipo_1,share_is_night,share_is_weekend,share_is_single_lane,cluster,uf
0,curitiba,9.510007,12.932851,10.917337,13.137655,12.909899,0.578721,-0.177010,-0.233529,-2.251703,2,pr
1,sao jose,2.659585,10.925462,7.156825,11.179042,10.877716,0.370860,-0.209026,-0.357133,-2.450937,2,sc

In [42]:
df5.head(2)

,cluster,mortos,feridos_leves,feridos_graves,ilesos,freq,share_tracado_via_tipo_1,share_is_night,share_is_weekend,share_is_single_lane
0,Cluster 1,"19,5843373493976","146,413654618474","53,8433734939759","301,726907630522","256,363453815261","0,380612087689318","0,392876255915771","0,491459047774762","0,967686851899074"
1,Cluster 2,"374,352941176471","6206,58823529412","1933,82352941176","22156,1764705882","14519,5294117647","0,783169248439565","0,363626803584279","0,441233293028604","0,249757463093109"